@{
    Layout = "_Layout";
}

@model ToDoListRefactored.Models.Category;
@using ToDoListRefactored.Models;
@using System.Collections.Generic;

<h2>Category Details</h2>
<hr />
<h3>@Html.DisplayNameFor(m => m.Name) : @Html.DisplayFor(m => m.Name)</h3>

@if (@Model.Items.Count == 0)
{
    <p>This category does not contain any items</p>
}
else
{
    <h4>Items the category contains:</h4>
    <ul>

    @foreach (Item item in Model.Items)
        {
<li>@item.Description
</li>
        }
    </ul>
}

@Html.ActionLink("Home", "Index", "Home")
<br>
@Html.ActionLink("Add Item", "Create", "Items")
<br>
@Html.ActionLink("Add Category", "Create", "Categories")







